version: '3'
services:
  # nodes
  mnesia-node1:
    build: ./mnesia
    container_name: node1
    hostname: node1
    command: -s app_mnesia init mnesia@node2 mnesia@node3
    networks:
     - backend

  mnesia-node2:
    build: ./mnesia
    container_name: node2
    hostname: node2
    command: -eval "application:start(mnesia)"
    networks:
     - backend

  mnesia-node3:
    build: ./mnesia
    container_name: node3
    hostname: node3
    command: -eval "application:start(mnesia)"
    networks:
     - backend

  # app
  n2o-app:
    build: ./n2o
    container_name: app
    hostname: app
    ports:
     - 8000:8000
    networks:
     - backend

# allows containers to communicate by hostnames
networks:
  backend:
    driver: bridge
