version: '3'
services:
  # nodes
  mnesia-node1:
    build: ./mnesia
    container_name: node1
    hostname: node1
    command: -s app_mnesia init mnesia@node2 mnesia@node3
    networks:
     - net1

  mnesia-node2:
    build: ./mnesia
    container_name: node2
    hostname: node2
    command: -eval "application:start(mnesia)"
    networks:
     - net1

  mnesia-node3:
    build: ./mnesia
    container_name: node3
    hostname: node3
    command: -eval "application:start(mnesia)"
    networks:
     - net1

# allows containers to communicate by hostnames
networks:
  net1:
    driver: bridge
